@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

// all fonts
$font-size-s: 14px;
$font-size-m: 16px;

// all colors
$border-light: #f2f2f2;
$border-active: #eeaaaa;
$font-inactive: #c2c2c2;
$color-primary: #c81515;

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
