.summary-box {
  padding: 20px;
  font-weight: 400;
  color: #8c8c8c;
  margin: 0;
  letter-spacing: 0.5px;
  word-spacing: -2px;
  text-align: justify;
  max-height: 245px;
  overflow: auto;
  .summary-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    .summary-text {
    }
  }
}
