@import "root_css";

.summary-box {
  padding: 10px 20px;
  font-weight: 400;
  color: #8c8c8c;
  margin: 0;
  .summary-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    .summary-text {
      line-height: 18px;
    }
  }
}
