.scroll-panel {
  overflow: auto;
  min-height: 200px;
  max-height: 380px;
  .sentiments-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px 8px;
    flex-wrap: wrap;
  }
}
