@import "root_css";

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 566px; // change for responsive values of popup
  width: 376px; // chnage for responsive values of popup
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-light;
  width: 100%;
  justify-content: center;
}

section {
  flex: 1;
  width: 100%;
}

footer {
  padding: 12px 20px;
  width: 100%;
}

.popup-tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px;
  gap: 8px;
  align-items: center;
  font-size: $font-size-m;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  user-select: none;
  cursor: pointer;
  color: $font-inactive;
  filter: grayscale(100%);
  &.active {
    border-bottom: 2px solid $border-active;
    color: black;
    filter: grayscale(0%);
  }
}
