.image-ans-wrapper {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff0f0;
  cursor: pointer;
  .image-time {
    color: #c81515;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .image-answer {
    color: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    flex: 1;
  }
}
